In [18]:
import sys
import os
import pandas as pd
import numpy as np
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from copy import deepcopy
import joblib
from statannot import add_stat_annotation
import xgboost as xgb
import time
from matplotlib.ticker import MultipleLocator
from tqdm import tqdm
from statannot import add_stat_annotation
from joblib import Parallel, delayed
from statsmodels.stats.multitest import multipletests
import statsmodels.api as sm
import graphviz
import random

import dataframe_image as dfi

from sklearn import set_config
set_config(transform_output="pandas")

import warnings
warnings.filterwarnings("ignore")
os.environ["PYTHONWARNINGS"] = "ignore::UserWarning"
np.seterr(divide='ignore', invalid='ignore')

import warnings
warnings.filterwarnings('ignore')

In [19]:
df_X.shape, df_y.shape

((219, 6806), (219, 1))

# Remove redundant isoaltes: pick one isolate among all identical ones within each patient

## 99.999%

In [20]:
df_X = pd.read_csv('../merge_features/pattern_all_isolates.csv', index_col=0)
df_y = pd.read_csv("../files_from_yy/hr_cla.csv", index_col=0)[['HR']].astype(int).loc[df_X.index]

In [21]:
df_cluster = pd.read_csv("strain_clusters_popANI_thres_5.0.csv", index_col=0)
df_cluster = pd.merge(df_cluster, df_y, left_index=True, right_index=True, how='inner')
df_cluster = df_cluster.loc[df_X.index]
df_cluster.head()

         ClusterName PatientID  HR
Isolate
CDC335            18       NaN   0
CDC336            21       NaN   0
CDC337            21       NaN   0
CDC338            35       NaN   0
CDC339            29       NaN   0

In [22]:
df_cluster.loc[['MSK2422','MSK2415']]

         ClusterName  PatientID  HR
Isolate
MSK2422           74  MSK_Pt_13   0
MSK2415           31  MSK_Pt_13   0

In [23]:
print("%d out of %d isolates have patient information."%(len(df_cluster[df_cluster.PatientID.notnull()]), len(df_cluster)))

104 out of 219 isolates have patient information.

In [24]:
Counter(df_cluster.HR)

Counter({0: 133, 1: 86})

In [25]:
df_ani = pd.read_csv("../ani_analysis/popANI_wide_format.csv", index_col=0)
df_ani = df_ani.loc[df_X.index, df_X.index]
df_ani.head()

Isolate,CDC335,CDC336,CDC337,CDC338,CDC339,CDC340,CDC342,CDC343,CDC344,E1,...,MSK925,UWM1195,UWM1196,UWM1197,UWM1198,UWM1199,UWM1204,UWM1206,UWM1207,UWM1208
Isolate,,,,,,,,,,,,,,,,,,,,,
CDC335,1.000000,0.999982,0.999982,0.999767,0.999758,0.999833,0.999820,0.999757,0.999882,0.999746,...,0.999942,0.999829,0.999829,0.999797,0.999800,0.999746,0.999840,0.999763,0.999993,0.999914
CDC336,0.999982,1.000000,1.000000,0.999769,0.999761,0.999835,0.999823,0.999760,0.999885,0.999749,...,0.999943,0.999831,0.999831,0.999800,0.999803,0.999749,0.999842,0.999766,0.999984,0.999917
CDC337,0.999982,1.000000,1.000000,0.999768,0.999760,0.999835,0.999822,0.999760,0.999885,0.999749,...,0.999943,0.999831,0.999831,0.999799,0.999803,0.999749,0.999842,0.999766,0.999984,0.999916
CDC338,0.999767,0.999769,0.999768,1.000000,0.999759,0.999770,0.999758,0.999759,0.999768,0.999748,...,0.999765,0.999766,0.999766,0.999867,0.999867,0.999748,0.999776,0.999764,0.999769,0.999760
CDC339,0.999758,0.999761,0.999760,0.999759,1.000000,0.999767,0.999758,0.999985,0.999764,0.999874,...,0.999757,0.999763,0.999764,0.999787,0.999790,0.999958,0.999773,0.999988,0.999760,0.999750

In [26]:
selected_isolates = []
for pid in set(df_cluster[df_cluster.PatientID.notnull()].PatientID):
    df_pid = df_cluster[df_cluster.PatientID==pid]
    for cluster in set(df_pid.ClusterName):
        df_pid_cluster = df_pid[df_pid.ClusterName==cluster]
            
        # identify the mean distance between this selected isolate and every other isolates
        df_mean_ani = df_ani.mean(axis=1)[list(df_pid_cluster.index)]

        # select the isolate with longest distance
        isolate_most_dissimilar = df_mean_ani.sort_values().index[0]

        # output information
        print('Patient ID: %s, Cluster: %s'%(str(pid), str(cluster)))
        print('This patient and cluster combination has %d isolates, %d HR and %d S'%(
            len(df_pid_cluster),
            len(df_pid_cluster[(df_pid_cluster.PatientID==pid) & (df_pid_cluster.HR==True)]),
            len(df_pid_cluster[(df_pid_cluster.PatientID==pid) & (df_pid_cluster.HR==False)])
        ))
        print(isolate_most_dissimilar, '(HR=%d) was selected'%(df_pid_cluster.loc[isolate_most_dissimilar,'HR']))
        print()

        selected_isolates.append(isolate_most_dissimilar)
    
df_X1 = deepcopy(df_X.loc[list(df_cluster[df_cluster.PatientID.isnull()].index)+selected_isolates])
df_y1 = deepcopy(df_y.loc[df_X1.index])

Patient ID: MSK_Pt_5, Cluster: 8
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK2107 (HR=1) was selected

Patient ID: MSK_Pt_17, Cluster: 1
This patient and cluster combination has 6 isolates, 0 HR and 6 S
MSK1882 (HR=0) was selected

Patient ID: MSK_Pt_12, Cluster: 6
This patient and cluster combination has 3 isolates, 0 HR and 3 S
MSK1324 (HR=0) was selected

Patient ID: MSK_Pt_8, Cluster: 13
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK2448 (HR=1) was selected

Patient ID: MSK_Pt_26, Cluster: 31
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1090 (HR=0) was selected

Patient ID: MSK_Pt_1, Cluster: 28
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK490 (HR=1) was selected

Patient ID: MSK_Pt_10, Cluster: 20
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2234 (HR=0) was selected

Patient ID: MSK_Pt_13, Cluster: 74
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2422 (HR=0) was selected

Patient ID: MSK_Pt_13, Cluster: 31
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2415 (HR=0) was selected

Patient ID: MSK_Pt_15, Cluster: 28
This patient and cluster combination has 3 isolates, 3 HR and 0 S
MSK1394 (HR=1) was selected

Patient ID: MSK_Pt_31, Cluster: 1
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2124 (HR=0) was selected

Patient ID: MSK_Pt_2, Cluster: 2
This patient and cluster combination has 5 isolates, 5 HR and 0 S
MSK2649 (HR=1) was selected

Patient ID: MSK_Pt_0, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2162 (HR=1) was selected

Patient ID: MSK_Pt_0, Cluster: 28
This patient and cluster combination has 3 isolates, 2 HR and 1 S
MSK2161 (HR=1) was selected

Patient ID: PUMCH_Pt_3, Cluster: 15
This patient and cluster combination has 2 isolates, 2 HR and 0 S
E46 (HR=1) was selected

Patient ID: MSK_Pt_11, Cluster: 0
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK1015 (HR=1) was selected

Patient ID: MSK_Pt_11, Cluster: 69
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK1666 (HR=0) was selected

Patient ID: PUMCH_Pt_1, Cluster: 3
This patient and cluster combination has 3 isolates, 0 HR and 3 S
E18 (HR=0) was selected

Patient ID: MSK_Pt_4, Cluster: 32
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1298 (HR=0) was selected

Patient ID: MSK_Pt_19, Cluster: 32
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK923 (HR=0) was selected

Patient ID: MSK_Pt_19, Cluster: 84
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK925 (HR=0) was selected

Patient ID: MSK_Pt_18, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2094 (HR=1) was selected

Patient ID: MSK_Pt_25, Cluster: 76
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2640 (HR=1) was selected

Patient ID: MSK_Pt_24, Cluster: 12
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2406 (HR=0) was selected

Patient ID: PUMCH_Pt_4, Cluster: 27
This patient and cluster combination has 2 isolates, 0 HR and 2 S
E59 (HR=0) was selected

Patient ID: MSK_Pt_23, Cluster: 0
This patient and cluster combination has 11 isolates, 11 HR and 0 S
MSK67 (HR=1) was selected

Patient ID: PUMCH_Pt_2, Cluster: 24
This patient and cluster combination has 2 isolates, 0 HR and 2 S
E20 (HR=0) was selected

Patient ID: MSK_Pt_21, Cluster: 32
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK1286 (HR=0) was selected

Patient ID: MSK_Pt_22, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2057 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 2
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK795 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 4
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2199 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 70
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2191 (HR=1) was selected

Patient ID: MSK_Pt_29, Cluster: 1
This patient and cluster combination has 2 isolates, 1 HR and 1 S
MSK2524 (HR=0) was selected

Patient ID: MSK_Pt_7, Cluster: 31
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1258 (HR=0) was selected

Patient ID: MSK_Pt_14, Cluster: 0
This patient and cluster combination has 6 isolates, 6 HR and 0 S
MSK624 (HR=1) was selected

Patient ID: MSK_Pt_14, Cluster: 7
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK620 (HR=0) was selected

Patient ID: MSK_Pt_20, Cluster: 26
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2425 (HR=0) was selected

Patient ID: MSK_Pt_3, Cluster: 0
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK1119 (HR=1) was selected

Patient ID: MSK_Pt_28, Cluster: 73
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2412 (HR=0) was selected

Patient ID: MSK_Pt_32, Cluster: 23
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2413 (HR=0) was selected

Patient ID: MSK_Pt_27, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK1762 (HR=1) was selected

Patient ID: MSK_Pt_9, Cluster: 23
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2499 (HR=0) was selected

Patient ID: MSK_Pt_30, Cluster: 32
This patient and cluster combination has 4 isolates, 0 HR and 4 S
MSK250 (HR=0) was selected

Patient ID: MSK_Pt_30, Cluster: 0
This patient and cluster combination has 7 isolates, 7 HR and 0 S
MSK314 (HR=1) was selected

Patient ID: MSK_Pt_30, Cluster: 75
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK247 (HR=0) was selected

In [27]:
'MSK2422' in list(df_X1.index)

True

In [28]:
Counter(df_cluster.loc[df_X1.index].HR)

Counter({0: 109, 1: 51})

In [29]:
len(df_X1), len(df_y1)

(160, 160)

## 99.9999%

In [30]:
df_X = pd.read_csv('../merge_features/pattern_all_isolates.csv', index_col=0)
df_y = pd.read_csv("../files_from_yy/hr_cla.csv", index_col=0)[['HR']].astype(int).loc[df_X.index]

In [31]:
df_cluster = pd.read_csv("strain_clusters_popANI_thres_6.0.csv", index_col=0)
df_cluster = pd.merge(df_cluster, df_y, left_index=True, right_index=True, how='inner')
df_cluster = df_cluster.loc[df_X.index]
df_cluster.head()

         ClusterName PatientID  HR
Isolate
CDC335            31       NaN   0
CDC336            28       NaN   0
CDC337            28       NaN   0
CDC338            32       NaN   0
CDC339            33       NaN   0

In [32]:
df_cluster.loc[['MSK2422','MSK2415']]

         ClusterName  PatientID  HR
Isolate
MSK2422           17  MSK_Pt_13   0
MSK2415           17  MSK_Pt_13   0

In [33]:
print("%d out of %d isolates have patient information."%(len(df_cluster[df_cluster.PatientID.notnull()]), len(df_cluster)))

104 out of 219 isolates have patient information.

In [34]:
Counter(df_cluster.HR)

Counter({0: 133, 1: 86})

In [35]:
df_ani = pd.read_csv("../ani_analysis/popANI_wide_format.csv", index_col=0)
df_ani = df_ani.loc[df_X.index, df_X.index]
df_ani.head()

Isolate,CDC335,CDC336,CDC337,CDC338,CDC339,CDC340,CDC342,CDC343,CDC344,E1,...,MSK925,UWM1195,UWM1196,UWM1197,UWM1198,UWM1199,UWM1204,UWM1206,UWM1207,UWM1208
Isolate,,,,,,,,,,,,,,,,,,,,,
CDC335,1.000000,0.999982,0.999982,0.999767,0.999758,0.999833,0.999820,0.999757,0.999882,0.999746,...,0.999942,0.999829,0.999829,0.999797,0.999800,0.999746,0.999840,0.999763,0.999993,0.999914
CDC336,0.999982,1.000000,1.000000,0.999769,0.999761,0.999835,0.999823,0.999760,0.999885,0.999749,...,0.999943,0.999831,0.999831,0.999800,0.999803,0.999749,0.999842,0.999766,0.999984,0.999917
CDC337,0.999982,1.000000,1.000000,0.999768,0.999760,0.999835,0.999822,0.999760,0.999885,0.999749,...,0.999943,0.999831,0.999831,0.999799,0.999803,0.999749,0.999842,0.999766,0.999984,0.999916
CDC338,0.999767,0.999769,0.999768,1.000000,0.999759,0.999770,0.999758,0.999759,0.999768,0.999748,...,0.999765,0.999766,0.999766,0.999867,0.999867,0.999748,0.999776,0.999764,0.999769,0.999760
CDC339,0.999758,0.999761,0.999760,0.999759,1.000000,0.999767,0.999758,0.999985,0.999764,0.999874,...,0.999757,0.999763,0.999764,0.999787,0.999790,0.999958,0.999773,0.999988,0.999760,0.999750

In [36]:
selected_isolates = []
for pid in set(df_cluster[df_cluster.PatientID.notnull()].PatientID):
    df_pid = df_cluster[df_cluster.PatientID==pid]
    for cluster in set(df_pid.ClusterName):
        df_pid_cluster = df_pid[df_pid.ClusterName==cluster]

        # identify the mean distance between this selected isolate and every other isolates
        df_mean_ani = df_ani.mean(axis=1)[list(df_pid_cluster.index)]

        # select the isolate with longest distance
        isolate_most_dissimilar = df_mean_ani.sort_values().index[0]

        # output information
        print('Patient ID: %s, Cluster: %s'%(str(pid), str(cluster)))
        print('This patient and cluster combination has %d isolates, %d HR and %d S'%(
            len(df_pid_cluster),
            len(df_pid_cluster[(df_pid_cluster.PatientID==pid) & (df_pid_cluster.HR==True)]),
            len(df_pid_cluster[(df_pid_cluster.PatientID==pid) & (df_pid_cluster.HR==False)])
        ))
        print(isolate_most_dissimilar, '(HR=%d) was selected'%(df_pid_cluster.loc[isolate_most_dissimilar,'HR']))
        print()

        selected_isolates.append(isolate_most_dissimilar)
    
df_X2 = deepcopy(df_X.loc[list(df_cluster[df_cluster.PatientID.isnull()].index)+selected_isolates])
df_y2 = deepcopy(df_y.loc[df_X2.index])

Patient ID: MSK_Pt_5, Cluster: 13
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK2107 (HR=1) was selected

Patient ID: MSK_Pt_17, Cluster: 1
This patient and cluster combination has 6 isolates, 0 HR and 6 S
MSK1882 (HR=0) was selected

Patient ID: MSK_Pt_12, Cluster: 6
This patient and cluster combination has 3 isolates, 0 HR and 3 S
MSK1324 (HR=0) was selected

Patient ID: MSK_Pt_8, Cluster: 20
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK2448 (HR=1) was selected

Patient ID: MSK_Pt_26, Cluster: 9
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1090 (HR=0) was selected

Patient ID: MSK_Pt_1, Cluster: 10
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK490 (HR=1) was selected

Patient ID: MSK_Pt_10, Cluster: 23
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2234 (HR=0) was selected

Patient ID: MSK_Pt_13, Cluster: 17
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2415 (HR=0) was selected

Patient ID: MSK_Pt_15, Cluster: 7
This patient and cluster combination has 3 isolates, 3 HR and 0 S
MSK1394 (HR=1) was selected

Patient ID: MSK_Pt_31, Cluster: 1
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2124 (HR=0) was selected

Patient ID: MSK_Pt_2, Cluster: 2
This patient and cluster combination has 5 isolates, 5 HR and 0 S
MSK2649 (HR=1) was selected

Patient ID: MSK_Pt_0, Cluster: 16
This patient and cluster combination has 2 isolates, 1 HR and 1 S
MSK2161 (HR=1) was selected

Patient ID: MSK_Pt_0, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2162 (HR=1) was selected

Patient ID: MSK_Pt_0, Cluster: 107
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK794 (HR=1) was selected

Patient ID: PUMCH_Pt_3, Cluster: 22
This patient and cluster combination has 2 isolates, 2 HR and 0 S
E46 (HR=1) was selected

Patient ID: MSK_Pt_11, Cluster: 0
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK1015 (HR=1) was selected

Patient ID: MSK_Pt_11, Cluster: 95
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK1666 (HR=0) was selected

Patient ID: PUMCH_Pt_1, Cluster: 3
This patient and cluster combination has 3 isolates, 0 HR and 3 S
E18 (HR=0) was selected

Patient ID: MSK_Pt_4, Cluster: 26
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1298 (HR=0) was selected

Patient ID: MSK_Pt_19, Cluster: 8
This patient and cluster combination has 3 isolates, 0 HR and 3 S
MSK923 (HR=0) was selected

Patient ID: MSK_Pt_18, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2094 (HR=1) was selected

Patient ID: MSK_Pt_25, Cluster: 106
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2640 (HR=1) was selected

Patient ID: MSK_Pt_24, Cluster: 18
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2406 (HR=0) was selected

Patient ID: PUMCH_Pt_4, Cluster: 19
This patient and cluster combination has 2 isolates, 0 HR and 2 S
E59 (HR=0) was selected

Patient ID: MSK_Pt_23, Cluster: 0
This patient and cluster combination has 11 isolates, 11 HR and 0 S
MSK67 (HR=1) was selected

Patient ID: PUMCH_Pt_2, Cluster: 21
This patient and cluster combination has 2 isolates, 0 HR and 2 S
E20 (HR=0) was selected

Patient ID: MSK_Pt_21, Cluster: 94
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK1286 (HR=0) was selected

Patient ID: MSK_Pt_22, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2057 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 96
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2191 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 97
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK2199 (HR=1) was selected

Patient ID: MSK_Pt_6, Cluster: 2
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK795 (HR=1) was selected

Patient ID: MSK_Pt_29, Cluster: 1
This patient and cluster combination has 2 isolates, 1 HR and 1 S
MSK2524 (HR=0) was selected

Patient ID: MSK_Pt_7, Cluster: 5
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK1258 (HR=0) was selected

Patient ID: MSK_Pt_14, Cluster: 0
This patient and cluster combination has 6 isolates, 6 HR and 0 S
MSK624 (HR=1) was selected

Patient ID: MSK_Pt_14, Cluster: 11
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK620 (HR=0) was selected

Patient ID: MSK_Pt_20, Cluster: 12
This patient and cluster combination has 2 isolates, 0 HR and 2 S
MSK2425 (HR=0) was selected

Patient ID: MSK_Pt_3, Cluster: 14
This patient and cluster combination has 2 isolates, 2 HR and 0 S
MSK1119 (HR=1) was selected

Patient ID: MSK_Pt_28, Cluster: 102
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2412 (HR=0) was selected

Patient ID: MSK_Pt_32, Cluster: 103
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2413 (HR=0) was selected

Patient ID: MSK_Pt_27, Cluster: 0
This patient and cluster combination has 1 isolates, 1 HR and 0 S
MSK1762 (HR=1) was selected

Patient ID: MSK_Pt_9, Cluster: 105
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK2499 (HR=0) was selected

Patient ID: MSK_Pt_30, Cluster: 104
This patient and cluster combination has 1 isolates, 0 HR and 1 S
MSK247 (HR=0) was selected

Patient ID: MSK_Pt_30, Cluster: 0
This patient and cluster combination has 7 isolates, 7 HR and 0 S
MSK314 (HR=1) was selected

Patient ID: MSK_Pt_30, Cluster: 4
This patient and cluster combination has 4 isolates, 0 HR and 4 S
MSK250 (HR=0) was selected

In [37]:
Counter(df_cluster.loc[df_X2.index].HR)

Counter({0: 107, 1: 52})

In [38]:
len(df_X2), len(df_y2)

(159, 159)

# Difference in isolates included

In [39]:
set(df_X1.index)-set(df_X2.index)

{'MSK2422', 'MSK925'}

In [40]:
set(df_X2.index)-set(df_X1.index)

{'MSK794'}

In [41]:
len(set(df_X1.index).intersection(set(df_X2.index)))

158